body {
    background-color: brown;
    font-family: 'Montserrat';
    background-image: url(../css/img/fondo-clase2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 52px;
    text-align: center;
}
h2 {
    text-align: center;
    background-color: black;
    color: whitesmoke;
}
ol {
    font-weight: bold;
}
ul {
    background-color: red;
    text-align: center;
    color: white;
}